//variables
$primarybackground:#FFFF;
$highlightColorOrange:#fd9d08;
$highlightColorRed:red;
$highlightColorBlue:#1da1f2;
:root {
    --headerHeight:70px;
}

* {
    box-sizing: border-box;
  }

@media screen and (max-width: 900px) {
    .nav-class {
      left: 0px; 
      top: var(--headerHeight) !important;
      font-size:2vw;
    }
    h1 {
        width: 100% !important;
        text-align: center !important;
    }
}
  
@media only screen and (max-width:700px) {
    /* For mobile phones: */
    .left-section, .middle-section, .right-section {
      width:100% !important;
      height:auto !important;
    }
    .nav-more {
        display:inline-block !important;
    }
    .nav-move1 {
        display:none !important;
    }
  }

body {
    /* background: #f3f3f3; */
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100%;
    min-width:500px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:500px;            /* As IE6 ignores !important it will set width as 1000px; */
}
#top-bar {
    position: absolute;;
    top:0px;
    left:0px;
    height:var(--headerHeight);
    width:100%;
    // animation: slideIN 0.5s ease-out;
    z-index:10000;
    box-shadow: 0 0 1rem -0.25rem var(--shadow);
    background:inherit;
    border-bottom: 1px solid $highlightColorBlue;
    h1 {
        display:inline-block;
        font-size: 1.9rem;
        /* color: rgba(206, 53, 53, 0.849); */
        color: $highlightColorOrange;
        height: 8vh;
        width:300px;
        margin: auto;
        padding: 10px 10px;
        
        a {
            text-decoration: none;
            color:inherit;
        }
    }
}

.nav-class {
    position: absolute;
    top:0px;
    right:0px;
    height:var(--headerHeight);
    width:auto;
    font-size: 100%;
    border-bottom: 1px solid $highlightColorBlue;
    ul {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        margin: 0;
        padding: 10px 30px;
        list-style-type: none;
        li {
            border: 2px solid transparent;
            border-radius: 5px;
            padding: 10px;
            transition: background 0.2s;
            color: $highlightColorBlue;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 0.2s;

            &:hover {
                background-color: $highlightColorRed;
                border: 2px solid $highlightColorRed;
                color: white;
                ul {
                    visibility: visible;
                    opacity: 1;
                    box-shadow: 0px 3px 5px 2px #EBECF1;
                }
            }

            a {
                color:inherit;
                text-decoration: none;
            }
            ul {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                display: block;
                margin: 12px -24px;
                padding: 0;
                background: $highlightColorOrange;
                border-radius: 5px;
                transition: opacity 0.2s, visibility 0.2s;

                li {
                    margin: -2px 0 0 -2px;
                    //width: calc(100% - 20px);
                    line-height: 1.7;
                    color:black;
                }
            }
        }
        // li:not(:last-child) {
        //     margin-right: 20px;
        // }
        .nav-more {
            display:none;
        }
    }
}

@keyframes slideIN {
    0% {
      top: -50px;
    }
    100% {
      top: 1px;
    }
  }


/* background: #fbb016; */


      
// .dark-mode {
//   background-color: #000000;
//   background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
//   color: white;
// }

/*dark mode animation*/
/* Code By Webdevtrick ( https://webdevtrick.com ) */
@-webkit-keyframes open {
  0% {
    bottom: 3rem;
    left: 3rem;
    width: 0rem;
    height: 0rem;
    -webkit-clip-path: circle(0rem at center);
            clip-path: circle(0rem at center);
  }
  100% {
    bottom: calc(-250vmax + 3rem);
    left: calc(-250vmax + 3rem);
    width: 500vmax;
    height: 500vmax;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}
@keyframes open {
  0% {
    bottom: 3rem;
    left: 3rem;
    width: 0rem;
    height: 0rem;
    -webkit-clip-path: circle(0rem at center);
            clip-path: circle(0rem at center);
  }
  100% {
    bottom: calc(-250vmax + 3rem);
    left: calc(-250vmax + 3rem);
    width: 500vmax;
    height: 500vmax;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}
.container {
    background: var(--background);
    color: var(--color);
    position:fixed;
    top:0;
    left:0px;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;

    .sections{
        position:fixed;
        top:calc(2 * var(--headerHeight));
        left:0px;
        height: calc(100vh - 2*var(--headerHeight));
        width:100%;
        padding:0;
        justify-content: center;
        align-items: center;
        overflow:auto;

        .left-section, .middle-section, .right-section {
            position:relative;
            top:0;
            left:0%;
            display: block;
            height: 100%;
            margin-top:20px;
            color:inherit;
        }
        
        .left-section {
            float:left;
            width:20%;
            text-align:center;

            display:block; 
            margin-top:7px;
            height:100%;
          }
          .middle-section {
            text-align:center;
            float:left;
            width:60%;
            padding:0 20px;
          }
          .right-section {
            float:left;
            width:20%;
            padding:15px;
            margin-top:7px;
            text-align:center;
          }
    }
    .darkmode, .clip, .darkmodebtn {
        position: fixed;
        bottom: 3rem;
        left: 3rem;
    }
    .darkmode {
        z-index: 2;
        position: fixed;
        bottom: 3rem;
        left: 3rem;
        font-size: 1.75rem;
        padding: 1rem;
        margin: 1px;
        border-radius: 100%;
        border-color: var(--iconColor) !important;
        box-shadow: 0 0 1rem -0.25rem var(--iconColor), inset 0 0 1rem -0.75rem var(--iconColor);
        color: var(--iconColor);
        cursor: pointer;
        transition: .25s -.05s;
      
        &:hover {
            box-shadow: 0 0 1rem -0.25rem var(--iconColor), inset 0 0 1rem -0.25rem var(--iconColor);
        }
    }
    .clip {
        width: 0rem;
        height: 0rem;
        border-radius: 100%;
      }
    .clip.anim {
        -webkit-animation: open 1.5s ease-in;
                animation: open 1.5s ease-in;
    }
    
    
}
.container:not(.dark) {
  --background: #fcfbfe;
  --color:#323133;
  --sectionBackground: #ffffff;
  --borderColor: #e9e9e9;
  --text1:#323133;
  --text2:#3C3B3D;
  --shadow:rgba(0,0,0,0.1);
  --iconColor:#0fce3d;
}
.container.dark {
  --background: #1C1B20;
  --color:#F5F7FA;
  --sectionBackground: #222126;
  --borderColor: #252429;
  --text1:#F5F7FA;
  --text2:#E6E9ED;
  --shadow:rgba(0,0,0,0.1);
  --iconColor:#05c534;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    color: var(--iconColor);
  }
  70%, 80% {
    color: var(--text1);
  }
}
@keyframes flash {
  0%, 50%, 100% {
    color: var(--iconColor);
  }
  70%, 80% {
    color: var(--text1);
  }
}


body.night{
	color:white;
}

.fixed-icons {
  z-index:1000;
}
.easter-bunny-image {
    // display: none;
    z-index:200000000000;
    position: fixed;
    top:-200px;
    right:100px;
    width:200px;
    height:200px;
    transform: rotate(180deg);
}
.easter-bunny-image.animate {
    animation-name: bunny-enters;
    animation-duration: 2s;
    top:0px;
    
    @keyframes bunny-enters {
        0% {top:-200px}
        50% {top:-100px}
        100% {top:0px}
    }
}

//sylimg buttons in the sections
.right-section {
    input[type="text"], input[type="button"] {
        width:100%;
        text-decoration: none;
        text-align: center;
        padding: 10px 5px;
        margin: 5px;
        outline: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }
    // input[type="text"] {
    //     color:$highlightColorOrange;
    // }
    input[type="button"] {
        background-color: $highlightColorBlue;
        
    }
    input[type="button"] {
        background-color: $highlightColorBlue;
        
        &:hover {

        }
    }
}


#canvas {
    width:70%;
}


.disabled {
    display:none;
}